.navbar

{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.sidebar
{
    top: 0;
    bottom:0;
    width:16%;
    position: fixed;
    overflow-y: auto;
    margin-top: 50px;
    color:#65388b
    
}
.mobileSidebar
{
  top: 0;
  bottom:0;
  width:12%;
  position: fixed;
  overflow-y: auto;
  margin-top: 50px;
  color:#65388b
}




@media only screen and (min-width: 768px) and (max-width: 2000px) {
  .mobileSidebar
  {
    display: none;
  }
  }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .mobileSidebar
  {
    display: none;
  }

  }
  @media only screen and (min-width: 321px) and (max-width: 480px) {
.sidebar{
  display: none;
}
.mobileSidebar
{
  top: 0;
  bottom:0;
  width:12%;
  position: fixed;
  overflow-y: auto;
  margin-top: 50px;
  color:#65388b
}
  }
  

  @media only screen and (max-width: 320px) {
  .sidebar{
  display: none;
}

.mobileSidebar
{
  top: 0;
  bottom:0;
  width:12%;
  position: fixed;
  overflow-y: auto;
  margin-top: 50px;
  color:#65388b
}
  }
  