.Payment{
    background-color: #f4f4f4;
    width: 100%;
}




/* medium */
@media all and (min-width:620px) and (max-width:1024px){
    .Payment{
        background-color: #f4f4f4;
        width: 100%;
    }
  }

  /* small */

  @media all and (min-width:280px) and (max-width:620px){
    .Payment{
        background-color: #f4f4f4;
        width: 100%;
    }
  }